{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>編輯遊玩紀錄</title>
    <link rel="stylesheet" href="{% static 'ptt_calculator/css/edit_song.css' %}">
</head>
<body>
    <div class="header">
        <a href="/previous_page" class="back-button">返回</a>
        <h1>編輯遊玩紀錄</h1>
    </div>
    
    <div class="main-container">
        <div class="left-container">
            <div class="song-list">
                {% for song in song_list %}
                {% if song.title == choice_song.title %}
                <a href="/ptt_calculator/{{ song.title }}" class="song-button active">
                    <img src="{{ song.img_url }}" alt="{{ song.title }}">
                    <span class="title">{{ song.title }}</span>
                </a>
                {% else %}
                <a href="/ptt_calculator/{{ song.title }}" class="song-button">
                    <img src="{{ song.img_url }}" alt="{{ song.title }}">
                    <span class="title">{{ song.title }}</span>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="right-container">
            <h2>{{ choice_song.title }}</h2>
            <img src="{{ choice_song.img_url }}" alt="{{ choice_song.title }}" class="song-image">
            <form method="post" action="/ptt_calculator/update_difficulty/">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>Difficulty</th>
                        <th>Value</th>
                    </tr>
                    {% for history in song_history %}
                    <tr>
                        <td>{{  history.level }} {{  history.chart_constant }}</td>
                        <td><input type="text" name="{{  history.level }}" value="{{ history.best_record }}"></td>
                    </tr>
                    {% endfor %}
                </table>
                <button type="submit" class="submit-button">Submit</button>
            </form>
        </div>
    </div>
    
</body>
</html>
