<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Password</title>
    <script>
        function validateForm() {
            var password = document.getElementById("new_password").value;
            var checkPassword = document.getElementById("check_new_password").value;
            var errorMessage = document.getElementById("error_message");

            if (password !== checkPassword) {
                errorMessage.innerText = "密碼不一致，請重新輸入。";
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <h2>Edit Password</h2>
    {% if wrong_password %}
        <p style="color: red;">當前密碼輸入錯誤</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label for="password">當前密碼:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <label for="new_password">新密碼:</label><br>
        <input type="password" id="new_password" name="new_password" required><br><br>

        <label for="check_new_password">確認新密碼:</label><br>
        <input type="password" id="check_new_password" name="check_new_password" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
